/* * {
  border: 1px solid white;
} */

body {
  background-color: black;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* height: 100%; */
}

thead {
  font-weight: bold;
}

td {
  padding: 5px;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* canvas panel */
/*              */
#canvas-section {
  width: 350px;
  height: 350px;
}

#canvas-main {
  width: 350px;
  height: 350px;
  border-radius: 0 0 5px 5px;
}

/* display panel */
/*               */
#display-panel-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}

/* color percentage results */
/*                          */
#distribution-section {
  width: 33%;
}

#distribution-section table {
  border: 1px solid black;
}

#distribution-section tbody {
  color: white;
}

.small-square {
  border: 1px solid white;
  border-radius: 5px;
  width: 25px;
  height: 25px;
}

/* button menu */
/*             */
#button-menu {
  margin-left: 1rem;
  width: 33%;
}

.button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  /* padding: 0.8rem; */
  font-size: 3.2rem;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: lightblue;
  border: 1px solid lightblue;
}

.start-button {
  padding-top: 0.7rem;
  padding-left: 0.7rem;
}

#iterations-section {
  width: 33%;
  text-align: right;
}

#iterations {
  color: white;
  font-size: 56px;
}
/*                   */
/* display panel end */

/* hidden control panel */
/*                      */
#canvas-radius {
  width: 200px;
  height: 200px;
}

#colors-section {
  width: 33%;
}
/*                          */
/* hidden control panel end */

/* Foundations */
/*             */

.white {
  color: white;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.big-font {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

/* @media only screen and (min-width: 200px) {
  body {
    background-color: aqua;
    width: 300px;
  }
} */
