#canvas-radius {
  width: 200px;
  height: 200px;
}

#canvas-main {
  width: 1000px;
  height: 1000px;
}

table {
  border: 1px solid black;
}

thead {
  font-weight: bold;
}

.button {
  padding: 0.8rem;
  border-radius: 8px;
  opacity: 0.6;
  font-size: 0.8rem;
  min-width: 80px;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.button:hover {
  opacity: 1;
}

td {
  padding: 5px;
}

.left {
  width: 300px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.padding {
  padding: 1rem;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.big-font {
  font-size: 1.5rem;
}
