#canvas-radius {
  width: 200px;
  height: 200px;
}

table {
  border: 1px solid black;
}

thead {
  font-weight: bold;
}

.button {
  padding: 1rem;
  border-radius: 8px;
  opacity: 0.6;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  min-width: 93px;
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

button:hover {
  opacity: 1;
}

td {
  padding: 5px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.padding {
  padding: 2rem;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.margin-top {
  margin-top: 1.5rem;
}

.big-font {
  font-size: 1.5rem;
}
